@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(158,158,158,1) 6%, rgba(111,111,111,1) 23%, rgba(86,86,86,1) 38%, rgba(13,13,13,1) 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    width: 1000px;
    
}
.card {
    margin:10px;
    height: 600px;
    width: 50%;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    
}
button {
    position: absolute;
    padding: 5px;
    border-radius: 15%;
    background: none;
   // background-color: #ffff;
    border: none;
    font-size: 26px;
    color: #fff;
    right: 10px;
    top:10px;

}
   button:hover~.text {
        clip-path: circle(100% at 50% 50%);
   }

.one {
    background-image: url('/img/portrait-g7d3fd0ce0_1920.jpg');
}
.two {
    background-image: url('/img/man-gdf3d8f315_1280.jpg');
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    right: 0;
    top:0;
    color: #fff;
    position: absolute;
    padding: 10px 30px;
    background-color: rgba($color: #000000, $alpha: .85);
    clip-path: circle(0 at 50% 50%);
    transition: clip-path 0.5s;

    h1 {
        font-size: 18px;
        color:rgb(184, 138, 138);
    }
    
    h3 {
        color:rgb(18, 155, 80);
        margin-bottom: 10px;
    }
}